
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  #resize-mobile--description {
    display: block;
  }
  h3.text--headline {
    font-size: 20px;
  }

  p.text--body--text {
    font-size: 14px;
  }

  .nav {
    font-size: 12px;
  }

  a.back-to-top {
    font-size: 14px;
  }

  h2.section-project--header{
    font-size: 24px;
  }

  #mobile-spacing {
    display: block;
  }

  #mobile-spacing--details {
    font-size: 12px;
    width: 100%;
  }
  .project-header--details-spacing--first {
    margin-bottom: 10px;
  }
  h3.project-header--description,
  h3.project-header--description.project-header--description-details {
    font-size: 14px;
  }

}
