
@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
  body.homepage {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }

  ul.nav {
    display: block;
    text-align: center;
  }

  .nav--nav-link-sub {
    display: block;
  }

  li.nav--nav-item.nav--nav-item-sub {
    padding-left: 0px;
  }

  .content {
    margin-left: 0;
  }

  #content--base-small {
    margin-left: 0;
    margin-right: 0;
  }

  #header--base-small {
    height: 450px;
  }

  h1.header--headline {
    font-size: 4.5em;
  }

  h3.header-subhead.header-subhead {
    font-size: 2em;
  }

  .header--header-item {
    color: white;
    position: absolute;;
    margin:auto;
    font-size: 12px;
    font-weight: 100;
    width: 100%
  }

  h2.section--title {
    font-size: 24px;
  }

  a.section--link {
    font-size: 1.1875em;
  }

  div.project-header {
      display: block;
      text-align: center;
  }

  .project-description {
    display: none;
  }

  #resize-mobile--description {
    display: flex;
  }

  .half {
    width: 50%;
  }
}
