

/* Change Page Loader Color */
#page-loader  { background:linear-gradient(to right,#9900ff 0%, #6400ff 100%) !important; }

 
/* Change Header Color */
header, #menu-inner, #header-actions-overlay { background:#9900ff !important; }


/* Change Footer Border */
footer { border: none !important; background:linear-gradient(to right,#9900ff 0% ,#6400ff 100%) !important; }


/* Change portfolio thumb hover color */
.thumb-hover.overlay-color::before { background: rgba(30,70,230,0.8) !important; }
